<div>
  <%= link_to "全部", datasets_path %>
  <%= link_to "入力済み", datasets_path(dataset_positions: :has) %>
  <%= link_to "未入力", datasets_path(dataset_positions: :none) %>
</div>
<div>
  <%= link_to "仮入力の一覧", datasets_path(dataset_positions: :temporary) %>
</div>

<table border="1">
  <tr>
    <th></th>
    <th>入力済みか</th>
    <th>品質</th>
  </tr>
  <% @datasets.each do |dataset| %>
    <tr>
      <td>
        <%= link_to dataset_path(dataset, dataset_positions: params[:dataset_positions]) do %>
          <%= image_tag dataset.image, height: "100" %>
        <% end %>
      </td>
      <td>
        <%= dataset.has_dataset_positions? ? "あり" : "なし" %>
      </td>
      <td>
        <%= dataset.dataset_quality.status %>
      </td>
    </tr>
  <% end %>
</table>
